apipkg==1.5
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
ConfigArgParse==0.14.0
execnet==1.5.0
Faker==1.0.2
idna==2.8
iso-639==0.4.5
iso3166==0.9
isodate==0.6.0
kafka-python==1.4.4
more-itertools==5.0.0
nltk==3.4
numpy==1.16.0
opencv-python==4.0.0.21
pep8==1.7.1
pluggy==0.8.1
py==1.7.0
pycodestyle==2.5.0
pycryptodome==3.7.3
PySocks==1.6.8
pytest==4.1.1
pytest-cache==1.0
pytest-codestyle==1.4.0
python-dateutil==2.7.5
python-dotenv==0.10.1
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.7.3
streamlink==0.14.2
text-unidecode==1.2
urllib3==1.24.1
websocket-client==0.54.0
wikipedia==1.4.0
